@import "../../styles/variables";

.subscribe {
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  input {
    box-sizing: border-box;
    height: 3rem;
    padding: 0 1rem;
    width: 100%;
    border: none;
    margin: 0 auto 1rem;
    border-radius: 0.8rem;
    background-color: $input-default-color;
    &:focus {
      box-shadow: 0 0 0 2px #72636e;
    }
  }
}