@import "../../styles/variables";

.topic {
  border-top: 1px solid $line-color;
  margin: 1rem;
  padding: 3rem 0;
  background-image: url("Illustrations_Halloween_60.svg");
  background-repeat: repeat-y;
  background-size: 100%;

  .topic-text {
    color: #8E354A;
    h1 {
      border-radius: .5rem;
      display: inline-block;
    }
    h3 {
      border-radius: .5rem;
      display: inline-block;
    }
  }
  .topic-button {
    display: flex;
    flex-direction: row;

    a{
      margin-top: .5rem;
      margin-right: .5rem;
      border-radius: 0.8rem;
      background-color: #DAC9A6;
      background-size: 0;
      padding: .5rem 1rem;
      &:active {
        box-shadow: 0 0 0 2px #72636e;
      }
    }

    @media (max-width: $mobile) {
      margin-right: 1rem;
    }
    @media (max-width: $table-s) {
      margin-right: 1rem;

    }
  }



  @media (min-width: $mobile) {
    padding: 4rem 0;
  }
}